:root {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
  --main-font: "Montserrat", sans-serif;
  --heading-font: "Rubik", sans-serif;
  --primary-color: #f72585;
  --secondary-color: #4586d6;
  --text-light: white;
  --text-dark: #1c3554;
  --text-lightGrey: #808080;
  --text-darkGrey: #393737;
  --btn-radius: 0.5rem;
  --side-padding: 3.5rem;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}
