.footer {
  background-color: #021934;
  color: var(--text-light);
}

.footer__item a {
  color: var(--text-light);
  text-decoration: none;
}

.footer__item a:hover {
  color: var(--primary-color);
}

.footer__title {
  font-size: 1.5rem;
  font-family: var(--heading-font);
}

.footer__copyright {
  font-size: 0.75rem;
}
